<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Fest Registration</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'images/SMD_logo.jpeg' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="nav">
            <img src="{% static 'images/SMD_logo.jpeg' %}" alt="SMD Logo">
            <h4><sup style="font-size: 17px;"><b>SMD organized </b></sup><span class="fest-name">InnerCollegeFest</span></h4>
        </div>
    </header>
<body>
    <div class="container_2">
        <h2>Reset Password</h2>

        <!-- Display messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <img src="{% static 'images/SMD_logo.jpeg' %}" alt="SMD_logo" style="width: 70px; height: 70px;"> 
            <label>UUCMS ID:</label>
            <input type="text" name="uucms_id" required>
            <br><br>

            <label>Email:</label>
            <input type="email" name="email" required>
            <br><br>

            <label>New Password:</label>
            <input type="password" name="new_password" required minlength="6">
            <br><br>

            <button class="button" type="submit">Reset Password</button>
        </form>

        <p><a href="{% url 'individual_login' %}">Back to Login</a></p>
    </div>
</body>
</html>